h1 {
  color: blue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
li {
  list-style: none;
}
.container {
  padding: 20px;
  margin-top: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.upcoming-weather {
  padding: 20px;
  margin: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
ul {
  margin: 0 0 20px;
  padding: 0;
}
.weather-app {
  border: 1px solid #dadde1;
  padding: 30px;
  margin: 30px auto;
  max-width: 630px;
  border-radius: 20px;
}
.temperature {
  font-size: 20px;
}
a {
  text-decoration: none;
}
.position {
  position: relative;
  top: -49px;
  left: 65px;
}
.current-button {
  position: relative;
  left: 65px;
}
.units {
  position: relative;
  font-size: 16px;
  top: -22px;
}
